@model IEnumerable<UserAwards.Models.PersonModel>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

<h2>Index</h2>

<script type="text/javascript">
	function Refresh() {
		$.ajax({
			url: '@Url.Action("Index")',
			mrthod: "GET",
			success: function(data) {
				$('#personList').html(data);
			}
		});
	}
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$(function () {
			$('#ShowCreatePersonWindow').on('click', function () {
					var url = "/Person/TemplateCreateNewPersonPartial/";
					$.post(url)
						.done(function(response) {
							$("#CreatePersonWindow").html(response);
							$('#CreatePersonWindow .modal').modal({});
						})
						.fail(function() {
							alert("error");
						});
				});
		});
	});

	function OnDeletePerson(data, status, request) {
		alert("OnDeletePerson");
		if (data.error) {
			OnError(request, status, data.error);
			return;
		}
		alert(test);
		$('#personList').html(data);
	}

	function OnError(request, status, error) {
		alert(error);
	}
</script>

<p>
	@Html.ActionLink("Get list person", "GetListPerson")
</p>


<div id="CreatePersonWindow">
</div>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<div id="personList">
	@{ Html.RenderPartial("_IndexListPartial"); }
</div>

<p>
	<a id="ShowCreatePersonWindow">Add new person for AJAX</a>
</p>

<p>
	<a onclick="Refresh()">Refresh for AJAX</a>
</p>