@{
	ViewBag.Title = "_LayoutPerson";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



@section scriptStile {
	<style>
		body {
			background: darkgrey; /* Цвет фона */
			color: green; /* Цвет текста */
		}
	</style>
}

<div>
	@RenderBody()
</div>
